* text=auto

*.php diff=php
*.md diff=markdown

.git*        export-ignore
tests/       export-ignore
build/       export-ignore
docs/        export-ignore
vendor/      export-ignore

phpunit.*    export-ignore
infection.*  export-ignore
phpbench.*   export-ignore

.scrutinizer.yml export-ignore
