*.php diff=php

/Tests       export-ignore
/build       export-ignore
/docs        export-ignore
/vendor      export-ignore
/phpunit.*   export-ignore
/infection.* export-ignore
/phpbench.*  export-ignore
/.*          export-ignore
