{
    "timeout": 10,
    "source": {
        "directories": [
            "."
        ],
        "excludes": [
            "vendor",
            "Tests",
            "bench",
            "bin",
            "build",
            "docker",
            "docs"
        ]
    },
    "logs": {
        "text": "./build/infection/infection.log",
        "badge": {
            "branch": "master"
        }
    },
    "tmpDir": "./build/infection/",
    "phpUnit": {
        "customPath": "./vendor/bin/phpunit"
    },
    "mutators": {
        "@default": true
    },
    "testFramework": "phpunit",
    "bootstrap": "./Tests/bootstrap.php"
}