{
    "timeout": 25,
    "source": {
        "directories": [
            "."
        ],
        "excludes": [
            "vendor",
            "tests",
            "bench",
            "bin",
            "build",
            "docker",
            "docs"
        ]
    },
    "logs": {
        "text": "./build/infection/infection.log",
        "stryker": {
            "badge": "master"
        }
    },
    "phpUnit": {
        "customPath": "./vendor/bin/phpunit"
    },
    "mutators": {
        "@default": true
    }
}