<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.4/phpunit.xsd"
         bootstrap="Tests/bootstrap.php"
         cacheResultFile="build/.phpunit.result.cache"
         stopOnFailure="true"
         verbose="true"
         colors="true">
    <testsuites>
        <testsuite name="Koded Dependency Injection Container Test Suite">
            <directory>Tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./Tests</directory>
                <directory>./bin</directory>
                <directory>./build</directory>
                <directory>./docker</directory>
                <directory>./docs</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
<!--    <logging>-->
<!--        <log type="coverage-html" target="build/coverage-html"/>-->
<!--        <log type="coverage-clover" target="build/coverage/clover.xml"/>-->
<!--    </logging>-->
</phpunit>